h1 {
	text-align: center;
}
#loading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*left div*/
#left {
    float:left;
    width: 107px;
}
#filter{
    margin-left: 10px;
    margin-bottom: -10px;
}
.filter-list {
    list-style: none;
    margin-left: -34px;
}
.filter-checkbox {
    float:left;
}

#clear-filter {
	padding-left: 2px;
	padding-right: 2px;
}
/*/left div*/

/*center div*/
#center {
    margin-left: 120px;
    margin-right: 180px;
}
#all-pokemons{
	float: left;
}
.pokemon {
    border: #999999 1px solid;
    height: 180px;
    width: 140px;
    float:left;
    margin-right: 10px;
    margin-bottom:10px;
    box-shadow: 0 2px 5.3px #929292;
	text-align: center;
}
.img-pokemon {
    width: 120px;
    height: 120px;
}
.name-pokemon {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
}
.default-type {
	border: #000000 1px solid;
	border-radius: 5px;
	width: 64px;
	background: linear-gradient(rgba(0,0,0,0), rgba(10,10,10,1));
	margin-left: 2px;
	margin-right: 2px;
	text-shadow: 0 1px 1.3px #111111;
	color: #ffffff;
	float: left;
	text-align: center;
	margin-bottom: 3px;
}
.normal-type {
	border: #f0cf80 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(240,207,128,1));
	}
.fighting-type {
	border: #d24242 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(210,66,66,1));
	}
.flying-type {
	border: #42b9d2 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(66,185,210,1));
}
.poison-type {
	border: #a84cc7 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(168,76,199,1));
}
.ground-type {
	border: #9A4B37 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(154,75,55,1));
}
.rock-type {
	border: #7e7e7e 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(126,126,126,1));
}
.bug-type {
	border: #7e9a15 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(126,154,21,1));
}
.ghost-type {
	border: #c8abf6 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(200,171,246,1));
}
.steel-type {
	border: #888888 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(136,136,136,1));
}
.fire-type {
	border: #ee3000 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(238,48,0,1));
}
.water-type {
	border: #2cc8ea 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(44,200,234,1));
}
.grass-type {
	border: #00cc18 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,204,24,1));
}
.electric-type {
	border: #F0E71B 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(240,231,27,1));
}
.ice-type {
	border: #56F0EC 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(86,240,236,1));
}
.dragon-type {
	border: #8707B4 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(135,7,180,1));
}
.dark-type {
	border: #314487 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(49,68,135,1));
}
.fairy-type {
	border: #FF00CE 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(255,0,206,1));
}
.unknown-type {
	border: #000000 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(10,10,10,1));
}
.shadow-type {
	border: #646464 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(100,100,100,1));
}
.psychic-type {
	border: #0700CC 1px solid;
	background: linear-gradient(rgba(0,0,0,0), rgba(7,0,204,1));
}
#get-more-pokemons {
	margin-right: 99%;
	float: left;
}
#load-more{
	width: 90px;
}
/*/center div*/

/*right div*/
#right{
    float:right;
    width: 182px;
    position: fixed;
    right: 10px;
	top:76px;
	overflow-y: auto;
	height: 80%;
}
#single-pokemon {
    border: #111111 1px solid;
    float: right;
    box-shadow: 1px 2px 5.3px #989898;
}
.img-single-pokemon {
    width: 160px;
    height: 160px;
}
.skills-pokemon {
    height: 180px;
    width: 160px;
}
td {
    border: #000000 1px solid;
}
/*/right div*/
